body {
	font-family: 'Helvetica', Helvetica;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: pink;
}


button	{
	background: none;
	color: blue;
	border: 2px solid;
	padding:  1em 2em;
	font-size: 1em;
	transition: all 0.2s;
	/*transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;*/
}


button:hover {
	border-color: green;
	color: black;
	box-shadow: 1em 0.8em 0.1em 0.2em olive;
	transform: translateY(0.9em) translateX(0.5em);
	cursor: pointer;
}
